.course {
    padding: 180px 0;
}

.course__premium {
    padding: 150px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course__title1 {
    width: 544px;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    color: #1F2937;
    margin-bottom: 30px;
}

.course__text {
    margin-bottom: 35px;
    width: 558px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #4B5563;
}
.course__link {
    display: flex;
    align-items: center;
}
.course__btn1 {
    color: #FFFFFF;
    padding: 13px 24px;
    background: #1F2937;
    border: 1px solid #1F2937;
    border-radius: 8px;
}
.couerse__link1{
    display: flex;
    align-items: center;
    margin-left: 17px;
    color: #111827;
}
.couerse__link1 img{
    margin-left: 8px;
}
.course__easily {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.dark-mode1{
    background-color: #2d3d53;
    transition: background-color 0.25s ease-in-out;
}

.light-mode1 .course__text, .couerse__link1{
    color: #1F2937;
}
.light-mode1 .couerse__link1{
    color: #111827;
}
.dark-mode1 .course__title1, .course__text, .couerse__link1{
    color: #FFFFFF;
}
.dark-mode1 .course__btn1{
    background-color: #fff;
    color: #111827;
}