.hero {
    position: relative;
    padding: 48px 0 0 0;
    background-color: #00353B;
}

.hero__inner {
    display: flex;
}

.hero__become {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__title {
    margin-bottom: 27px;
    font-weight: 400;
    font-size: 54px;
    line-height: 66px;
    color: #FFFFFF;
}

.hero__text {
    margin-bottom: 37px;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #FFFFFF;
}

.hero__link {
    display: flex;
    align-items: center;
}

.hero__btn {
    padding: 13px 25px;
    margin-right: 16px;
    background: #22A45A;
    border: 1px solid #22A45A;
    border-radius: 8px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.hero__vieo--link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.hero__vieo--link img {
    margin-left: 6px;
}

.hero__teachStar {
    margin-top: 47px;
    display: flex;
    align-items: center;
}

.hero_teach_img {
    width: 150px;
    object-fit: cover;
}

.rank {
    margin-left: 17px;
    color: #FFFFFF;
    font-size: 14px;
}

.hero__star {
    display: flex;
}

.hero__star img {
    width: 23px;
}

.hero__banner img {
    width: 650px;
    object-fit: cover;
}

.hero__subtitle {
    margin-top: 80px;
    text-align: center;
    color: #FFFFFF;
}

.noCode {
    transform: translateY(50%);
    padding: 80px;
    background: #FCD8CA;
    border-radius: 24px;
}

.noCode__title {

    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    color: #1F2937;
}

.noCode__text {
    width: 730px;
    margin: 29px auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #374151;
}

.noCode__btn {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    background: #1F2937;
    border: 1px solid #1F2937;
    border-radius: 8px;
    cursor: pointer;
    color: #FFFFFF;
}
.dark-mode{
    background-color: #1F2937;
    transition: background-color 0.25s ease-in-out;
}