.start {
    padding-top: 123px;
    padding-bottom: 73px;
    background-color: #00353B;
}

.start__title {
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
}

.start__text {
    margin: 0 auto;
    width: 730px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;

}

.start__link {
    margin-top: 41px;
    text-align: center;
}

.start__get {
    padding: 13px 25px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #22A45A;
    border: 1px solid #22A45A;
    cursor: pointer;
    border-radius: 8px;
}

.start__contact {
    margin-left: 16px;
    cursor: pointer;
    font-weight: 400;
    padding: 13px 25px;
    font-size: 16px;
    line-height: 24px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    text-align: center;
    color: #1F2937;
}