.footer {
  background-color: #00353B;
  padding-bottom: 88px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.footer__list {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  display: flex;
  flex-direction: column;
}

.footer__item:nth-child(1) {
  justify-content: center;
}

.footer__item label {
  width: 394px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer__inp--text {
  margin-top: 19px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

.footer__form input {
  margin-top: 23px;
  padding: 12px 25px;
  background: #FFFFFF;
  border: 1px solid #E5E7EB;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  font-size: 16px;
}

.footer__form button {
  margin-left: 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  background: #22A45A;
  border: none;
  border-radius: 8px;
  text-align: center;
  padding: 10px 25px;
  color: #FFFFFF;
}

.footer__item h5 {
  width: 164px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer__link {
  margin: 8px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.down__foot {
  background-color: #00353B;
  padding-top: 32px;
  padding-bottom: 60px;
}

.footer__inner {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.footer__social a {
  margin-left: 8px;
}
.dark-mode .footer__form button{
  background-color: #fff;
  color: #00353B;
}