.join__inner {
    display: flex;
}
.join {
    padding-bottom: 150px;
}
.join__info {
    width: 100%;
    background-color: #FCD8CA;
    padding: 64px 0px;
    border-radius: 24px 0 0 24px;
}

.join__label {
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: 14px;
    margin-left: 64px;
    background-color: #fff;
    border-radius: 4px;
    color: #1F2937;
    font-size: 14px;
}

.join__title {
    margin-left: 64px;
    margin-bottom: 28px;
    width: 478px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #1F2937;
}

.join__text {
    margin-left: 64px;
    max-width: 480px;
    color: #374151;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.join__btn {
    padding: 13px 25px;
    margin-top: 40px;
    margin-left: 64px;
    color: #FFFFFF;
    background: #1F2937;
    border: 1px solid #1F2937;
    border-radius: 8px;
}

.join__wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.join__cards {
    width: 378px;
}

.join__card--title {
    margin-top: 30px;
    font-weight: 400;
    font-size: 23px;
    line-height: 34px;
    color: #1F2937;
}

.join__card--text {
    margin-top: 23px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4B5563;
}